In [4]:
df = pd.read_csv("C:/Users/kyoto/Documents/Python/Industry C02 Emissions.csv")

In [5]:
df.columns

Index(['*PCF-ID', 'Year of reporting', 'Product name (and functional unit)',
       'Company', 'Country (where company is incorporated)',
       '*Company's sector', 'Product weight (kg)',
       'Product's carbon footprint (PCF, kg CO2e)',
       '*Upstream CO2e (fraction of total PCF)',
       '*Operations CO2e (fraction of total PCF)',
       '*Downstream CO2e (fraction of total PCF)'],
      dtype='object')

In [6]:
df.head(3)

,*PCF-ID,Year of reporting,Product name (and functional unit),Company,Country (where company is incorporated),*Company's sector,Product weight (kg),"Product's carbon footprint (PCF, kg CO2e)",*Upstream CO2e (fraction of total PCF),*Operations CO2e (fraction of total PCF),*Downstream CO2e (fraction of total PCF)
0,10056-1-2014,2014,Frosted Flakes(R) Cereal,Kellogg Company,USA,Food & Beverage,0.7485,2.00,57.50%,30.00%,12.50%
1,10056-1-2015,2015,"Frosted Flakes, 23 oz, produced in Lancaster, ...",Kellogg Company,USA,Food & Beverage,0.7485,2.00,57.50%,30.00%,12.50%
2,10222-1-2013,2013,Office Chair,KNOLL INC,USA,Comm. equipm. & capital goods,20.6800,72.54,80.63%,17.36%,2.01%

Checking to see if there are any NAN values

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 866 entries, 0 to 865
Data columns (total 11 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   *PCF-ID                                    866 non-null    object
 1   Year of reporting                          866 non-null    int64
 2   Product name (and functional unit)         866 non-null    object
 3   Company                                    866 non-null    object
 4   Country (where company is incorporated)    866 non-null    object
 5   *Company's sector                          866 non-null    object
 6   Product weight (kg)                        866 non-null    float64
 7   Product's carbon footprint (PCF, kg CO2e)  866 non-null    float64
 8   *Upstream CO2e (fraction of total PCF)     866 non-null    object
 9   *Operations CO2e (fraction of total PCF)   866 non-null    object
 10  *Downstream CO2e (fraction of total PCF)   866 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 74.6+ KB

Find the latest year of reporting

In [8]:
df['Year of reporting'].unique()

array([2014, 2015, 2013, 2017, 2016], dtype=int64)

In [9]:
year = df.groupby(['Year of reporting'])

In [10]:
year2017 = year.get_group(2017)

In [11]:
year2017.head(3)

,*PCF-ID,Year of reporting,Product name (and functional unit),Company,Country (where company is incorporated),*Company's sector,Product weight (kg),"Product's carbon footprint (PCF, kg CO2e)",*Upstream CO2e (fraction of total PCF),*Operations CO2e (fraction of total PCF),*Downstream CO2e (fraction of total PCF)
3,10261-1-2017,2017,Multifunction Printers,"Konica Minolta, Inc.",Japan,"Computer, IT & telecom",110.0,1488.0,30.65%,5.51%,63.84%
4,10261-2-2017,2017,Multifunction Printers,"Konica Minolta, Inc.",Japan,"Computer, IT & telecom",110.0,1818.0,25.08%,4.51%,70.41%
5,10261-3-2017,2017,Multifunction Printers,"Konica Minolta, Inc.",Japan,"Computer, IT & telecom",110.0,2274.0,20.05%,3.61%,76.34%

In [12]:
year2017["*Company's sector"].unique()

array(['Computer, IT & telecom', 'Chemicals',
       'Comm. equipm. & capital goods',
       'Home durables, textiles, & equipment', 'Food & Beverage'],
      dtype=object)

In [18]:
sector2017 = year2017.groupby(["*Company's sector"])

Find 
1.the total number of companies in each sector
2.the total carbon footprint for each sector
3.sort by highest carbon footprint

In [29]:
sector2017.agg({"Product's carbon footprint (PCF, kg CO2e)":['count','sum']}).sort_values(by=("Product's carbon footprint (PCF, kg CO2e)",'sum'),ascending=False)

                                     Product's carbon footprint (PCF, kg CO2e)  \
                                                                         count
*Company's sector
Chemicals                                                                   11
Comm. equipm. & capital goods                                                4
Computer, IT & telecom                                                      23
Food & Beverage                                                             22
Home durables, textiles, & equipment                                         2


                                              sum
*Company's sector
Chemicals                             107129.0000
Comm. equipm. & capital goods          94942.6724
Computer, IT & telecom                 22555.0860
Food & Beverage                         3161.4700
Home durables, textiles, & equipment     740.6000